html, body {
    margin: 0;
    padding: 0;
  }  

body {
    font-family: "Roboto", sans-serif;
}

header {
    display:flex;
    align-items: center;
    padding-top: 15px;
}

#header-left {
    font-weight: 900;
    margin-left: 200px;
    font-size: 24px;
    color: #F9FAF8;
    margin-right: 40px;

}

#header-right {
    margin-left: auto;
    margin-right: 200px;
    font-size: 18px;
    gap: 40px;
    display: flex;
}

a {
    text-decoration: none;
    flex: none;
    color: #E5E7EB;
}

#header-right, #header-left {
    margin-top: 5px;
}

#top-section {
    background-color: #1F2937;
}

#top-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    padding-bottom: 100px;
    margin-top: 100px;
}

#top-content .main-text {
    font-size: 48px;
    color: #F9FAF8;
}

#top-content .subtext {
    font-size: 18px;
    color: #E5E7EB;
}

.graphics {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-bottom: 100px;
    flex-wrap: wrap;
}

.caption {
    width: 200px;
    text-align: center;
    margin-top: 5px;
}

.graphics img {
    display: block;
    border: solid;
    border-style: solid;
    border-width: 5px;
    border-color: #3882F6;
    border-radius: 10px;
}

#section-3 {
    background-color: #E5E7EB;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer {
    background-color: #1F2937;
    font-size: 18px;
    color: #F9FAF8;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#top-content img {
    color: #F9FAF8;
    margin-right: 200px;
}

#signup {
    display: flex;
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 50px 100px;
    border-radius: 10px;

}

.info {
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
    margin: auto;
    width: 40%;
    padding: 50px 0;
    min-width: 300px;
    text-align: center;
}

.signup-button {
    background-color: #3882F6;
    color: #E5E7EB;
    font-size: 16px;
    padding: 6px 30px;
    border-radius: 8px;
    border-style: none;
}

#signup .signup-button {
    border-color: white;
    border-style: solid;
    margin-left: 200px;
    flex: none;
}

.left {
    width: 600px;
    margin-left: 200px;
    flex: none;
}

.subtext {
    margin: 10px 0;
}

#section-4 {
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#quote {
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    color: #1F2937;
    width: 590px;
}

#quote-source {
    font-weight: bold;
    font-size: 18px;
    color: #1F2937;
}

.text {
    font-size: 24px;
    color: #E5E7EB;
}

.bold-text {
    font-weight: bold;
    font-size: 32px;
}

#signup-message {
    flex: none;
}

#button-container {
    display: flex;
    align-items: center;
}